
@{
    ViewBag.Title = "Index";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="navbar-header" style="margin:0 auto">
        <h2>Consulta venta vehiculos</h2>
    </div>
    <div class="container">
        <div class="body-content">
            <h5>bienvenido @User.Identity.Name</h5>
        </div>
    </div>

}


